In [1]:
#dependencies
import sqlalchemy
from sqlalchemy import create_engine
import mysql.connector
import pandas as pd
from config import username, password

In [2]:
# pip install pymysql - to get sqlalchemy to work

In [3]:
#check see if database exists, if not create database
#set up sqlalchemy to connect to database and grab session
engine = create_engine(f"mysql+pymysql://{username}:{password}@localhost/tractorTekSales")
try:
    conn = engine.connect()
    print("Successfully connected.")
except :
    print("tractorTekSales does not exist, creating now.")
    mydb = mysql.connector.connect(
      host="localhost",
      user=f"{username}",
      password=f"{password}")
    mycursor = mydb.cursor()
    mycursor.execute("CREATE DATABASE tractorTekSales")

Successfully connected.

In [23]:
#read in excel
tractor_sales = pd.read_excel('static/data/capstone_data_complete.xlsx',sheet_name = "capstone_productSales")
product_info = pd.read_excel('static/data/capstone_data_complete.xlsx',sheet_name = "product_table")
sales_team = pd.read_excel('static/data/capstone_data_complete.xlsx',sheet_name = "sales_team")
date_table = pd.read_excel('static/data/capstone_data_complete.xlsx',sheet_name = "date_table")
date_table

     week  quarter  sales_period  year
0       1        1             1  2019
1       2        1             1  2019
2       3        1             1  2019
3       4        1             1  2019
4       5        1             2  2019
..    ...      ...           ...   ...
99     48        4            12  2020
100    49        4            13  2020
101    50        4            13  2020
102    51        4            13  2020
103    52        4            13  2020

[104 rows x 4 columns]

In [24]:
#drop unnecessary column from  calculations
product_info = product_info.drop(["Unnamed: 7", "Unnamed: 8","Unnamed: 9","quarter.1"], axis = 1)
product_info

,item_id,product_name,url,manufacturer,year,quarter,price
0,PROD_006,ZT2000 Zero Turn Mower,https://www.bobcat.com/mowers/zero-turn-mowers...,Bobcat,2019,1,4575
1,PROD_005,UV34 Gas,https://www.bobcat.com/utility-products/utv/UV...,Bobcat,2019,1,13995
2,PROD_004,CT1021 Sub-Compact Tractor,https://www.bobcat.com/tractors/models/ct1021/...,Bobcat,2019,1,11385
3,PROD_007,S70 Skid Steer Loader,https://www.bobcat.com/loaders/skid-steer-load...,Bobcat,2019,1,22987
4,PROD_002,CUV82,https://www.cat.com/en_US/products/new/equipme...,Cat,2019,1,14786
...,...,...,...,...,...,...,...
123,ESP_007,Warranty,https://www.bobcat.com/loaders/skid-steer-load...,Bobcat,2020,4,1027
124,ESP_002,Warranty,https://www.cat.com/en_US/products/new/equipme...,Cat,2020,4,843
125,ESP_001,Warranty,https://e-marketing.deere.com/store/landpro-eq...,John Deere,2020,4,843
126,ESP_008,Warranty,https://e-marketing.deere.com/store/landpro-eq...,John Deere,2020,4,843
127,ESP_003,Warranty,https://e-marketing.deere.com/store/landpro-eq...,John Deere,2020,4,978

In [25]:
#drop unnecesary column
tractor_sales = tractor_sales.drop("weekx", axis = 1)
tractor_sales

      emp_id   item_id  year  week  quantity
0     EMP244  PROD_001  2020     1        42
1     EMP244  PROD_001  2020     1        48
2     EMP244  PROD_001  2020     1        38
3     EMP244  PROD_001  2020     1        43
4     EMP244  PROD_001  2020     1        35
...      ...       ...   ...   ...       ...
8315  EMP290   ESP_008  2020     1         0
8316  EMP290   ESP_008  2020     1         0
8317  EMP290   ESP_008  2020     1         0
8318  EMP290   ESP_008  2020     1         0
8319  EMP290   ESP_008  2020     1         0

[8320 rows x 5 columns]

In [26]:
#appends dataframe from excel to mysql if table exists and creates table if does not exist on tractorTekSales
#use once only if needed otherwise will get duplicate values
with engine.begin() as connection:
    sales_team.to_sql('sales_team', con=connection, if_exists='append', index = False)

In [43]:
#do this for date as well
with engine.begin() as connection:
    date_table.to_sql('date_dim', con=connection, if_exists='append', index = False)

In [53]:
#do this for product_info as well
with engine.begin() as connection:
    product_info.to_sql('product_info', con=connection, if_exists='append', index = False)

In [62]:
#do this for tractor_sales as well do this table last as it is dependent on previous tables
with engine.begin() as connection:
    tractor_sales.to_sql('tractor_sales', con=connection, if_exists='append', index = False)

Check the data table sizes to make sure it was properly transferred

In [27]:
#number of columns per table
sales_team_shape = sales_team.shape
sales_team_columns = sales_team_shape[1]
sales_team_rows = sales_team_shape[0]
print(f'The number of columns in our sales team table is {sales_team_columns}'+'\n'+ f'and they are {sales_team.columns.tolist()}.'+'\n'+ f'The number of rows in our sales team table is {sales_team_rows}.' +'\n')
date_table_shape = date_table.shape
date_table_columns = date_table_shape[1]
date_table_rows = date_table_shape[0]
print(f'The number of columns in our date table is {date_table_columns}'+'\n'+ f'and they are {date_table.columns.tolist()}.'+'\n'+ f'The number of rows in our date table is {date_table_rows}.' +'\n')
product_info_shape = product_info.shape
product_info_columns = product_info_shape[1]
product_info_rows = product_info_shape[0]
print(f'The number of columns in our product table is {product_info_columns}'+'\n'+ f'and they are {product_info.columns.tolist()}.'+'\n'+ f'The number of rows in our product table is {product_info_rows}.' +'\n')
tractor_sales_shape = tractor_sales.shape
tractor_sales_columns = tractor_sales_shape[1]
tractor_sales_rows = tractor_sales_shape[0]
print(f'The number of columns in our tractor sales table is {tractor_sales_columns}'+'\n'+ f'and they are {tractor_sales.columns.tolist()}.'+'\n'+ f'The number of rows in our tractor sales table is {tractor_sales_rows}.')

The number of columns in our sales team table is 4
and they are ['emp_id', 'name', 'region', 'pay_grade'].
The number of rows in our sales team table is 5.

The number of columns in our date table is 4
and they are ['week', 'quarter', 'sales_period', 'year'].
The number of rows in our date table is 104.

The number of columns in our product table is 7
and they are ['item_id', 'product_name', 'url', 'manufacturer', 'year', 'quarter', 'price'].
The number of rows in our product table is 128.

The number of columns in our tractor sales table is 5
and they are ['emp_id', 'item_id', 'year', 'week', 'quantity'].
The number of rows in our tractor sales table is 8320.